<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso Basico de Vue.js | Platzi</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>

    <!-- Siempre se trabaja dentro del div con id app (El especificado en Vue) para estar dentro del Scope de la aplicación del Vue -->
    <div id="app" v-bind:style="{ background: '#' + color }">

        <!-- Usando las directivas v-bind: podemos definir valores dinámicos para las propiedades HTML y v-on: definimos eventos -->
        <img 
            v-on:mouseover="toggleShowPrices" 
            v-on:mouseout="toggleShowPrices" 
            v-bind:src="img" 
            v-bind:alt="name"
        >

        <h1 v-bind:class="changePercent > 0 ? 'green' : 'red'">

            <!-- Las propiedades computadas se utilizan de la misma forma que una propiedad normal -->
            {{ title }}

            <span v-if="changePercent > 0">:D</span>
            <span v-else-if="changePercent < 0">:D</span>
            <span v-else>:(</span>

            <!-- <span v-show="changePercent > 0">:D</span>
            <span v-show="changePercent < 0">:D</span>
            <span v-show="changePercent == 0">:(</span> -->

        </h1>

        <!-- v-model permite habilitar el Two Way Data Binding enlazando el valor de un campo con una varible que tengamos definida en nuestro app.js, cada vez que el usuario escriba algo para cambiar este valor, se actualziará automáticamente -->
        <input type="number" v-model="value">
        <span>{{ convertedValue }}</span>

        <!-- Con v-on podemos manejar eventos -->
        <span v-on:click="toggleShowPrices">{{ showPrices ? "^^" : ":o" }}</span>

        <!-- <ul>

            Es recomendable usar key para que en caso de que la lista se actualice Vue no pierda el trackeo de esas dependencias, también podemos traer el índice usando los parenteses y poniendo del nombre del índice, o simplemete podemos dejar p

            <li v-for="(p, i) in prices" v-bind:key="p">
                {{ i }} - {{ p }}
            </li>
        </ul> -->

        <!-- Cuando usamos v-bind con un objeto, lo que hará es poner el nombre de la key del objeto en el caso en que la condición se verdadera, el uso de v-bind:class también permite especificar directamente un atributo class de toda la vida sin problemas -->
        <ul v-show="showPrices">
            <li 
            class="uppercase"
            v-for="(p, i) in pricesWithDays" 
            v-bind:key="p.day"
            v-bind:class="{ orange: p.value == price, red: p.value < price, green: p.value > price }"
        >
                {{ i }} - {{ p.day }} - {{ p.value }}
            </li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>